*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.cabecalho { 
    background-color: #53a5a5b2; 
    padding: 15px 25px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  } 
    
    .cartao {
    width: 260px;
    height: 200px;
    }
    
    .cartao-imagem {
    width: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgba(144, 207, 207, 0.623);
    }

    main{
        flex: 1;
    }

.cabecalho-link{
    color: rgb(1, 15, 17);
    text-decoration: none;
}

h1 {
    background-color: rgba(117, 213, 230, 0.897);
    padding: 15px 25px;
}